/* line 4, ../../scss/base.scss */
body {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  background-color: #4d5668;
  margin: 0 0 8em 0;
  padding-top: 5em;
}

/* line 13, ../../scss/base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 18, ../../scss/base.scss */
h2 {
  font-weight: 300;
  font-size: 300%;
  margin: 0;
}

/* line 24, ../../scss/base.scss */
h1 {
  font-weight: 300;
  font-size: 800%;
  margin: 0;
}

/* line 30, ../../scss/base.scss */
.boss-button {
  border: none;
  -webkit-appearance: none;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f2797f), color-stop(100%, #fe7c74));
  background-image: -webkit-linear-gradient(bottom, #f2797f, #fe7c74);
  background-image: -moz-linear-gradient(bottom, #f2797f, #fe7c74);
  background-image: -o-linear-gradient(bottom, #f2797f, #fe7c74);
  background-image: linear-gradient(bottom, #f2797f, #fe7c74);
  color: #f1f1f1;
  font-size: 150%;
  padding: 1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
}

/* line 4, ../../scss/header.scss */
.boss-header {
  background-color: #f1f1f1;
  height: 5em;
  color: #4d5668;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

/* line 14, ../../scss/header.scss */
.boss-header_inner-container {
  width: 80%;
  margin: auto;
  padding: 1em 0;
}

/* line 20, ../../scss/header.scss */
.boss-header_logo {
  font-size: 200%;
  float: left;
  margin-top: .25rem;
}

/* line 26, ../../scss/header.scss */
.boss-header_nav {
  float: right;
}

/* line 30, ../../scss/header.scss */
.boss-header_nav-item {
  list-style-type: none;
  float: left;
  font-size: 130%;
  margin-right: 2rem;
  padding-left: 2rem;
}
/* line 36, ../../scss/header.scss */
.boss-header_nav-item > a.selected {
  font-weight: 600;
}

/* line 41, ../../scss/header.scss */
.boss-header_nav-icon {
  padding: inherit;
}

/* line 4, ../../scss/hero.scss */
.boss-hero {
  background-color: #f1696a;
  height: 20em;
}

/* line 9, ../../scss/hero.scss */
.boss-hero_inner-container {
  width: 80%;
  padding: 2em 0;
  margin: auto;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

/* line 18, ../../scss/hero.scss */
.boss-hero_drumroll {
  color: #f1f1f1;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1rem;
}

/* line 26, ../../scss/hero.scss */
.boss-hero_boss-image {
  position: absolute;
  bottom: 0;
  left: 10%;
}

/* line 32, ../../scss/hero.scss */
.boss-hero_punchline {
  color: #f1f1f1;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 1rem;
}

/* line 40, ../../scss/hero.scss */
.boss-hero_marionette-handles {
  position: absolute;
  bottom: 0;
  left: 6em;
}

/* line 4, ../../scss/about.scss */
.boss-about {
  font-size: 210%;
  color: #f1f1f1;
  width: 80%;
  margin: auto;
  line-height: 1.8;
  padding: 1rem;
}

/* line 4, ../../scss/download.scss */
.boss-download {
  width: 80%;
  margin: auto;
}

/* line 9, ../../scss/download.scss */
.boss-download_downloads-row {
  margin: auto;
  width: 50.25em;
}

/* line 14, ../../scss/download.scss */
.boss-header_download-button {
  width: 21rem;
  margin: 1rem 2rem;
}

/* line 19, ../../scss/download.scss */
.boss-download_download-button-icon {
  font-size: 130%;
}

/* line 23, ../../scss/download.scss */
.boss-download_download-button-size {
  font-weight: 300;
  font-size: 80%;
}

/* line 28, ../../scss/download.scss */
.boss-download_dependencies {
  color: #f1f1f1;
  text-align: center;
}

/* line 3, ../../scss/examples.scss */
.boss-examples {
  width: 80%;
  margin: 2em auto;
}

/* line 8, ../../scss/examples.scss */
.boss-examples_heading {
  color: #f1f1f1;
  font-weight: 300;
}

/* line 13, ../../scss/examples.scss */
.boss-examples_example-row {
  margin-top: 2em;
}
/* line 15, ../../scss/examples.scss */
.boss-examples_example-row > .boss-examples_example-container:last-child {
  float: right;
}
/* line 17, ../../scss/examples.scss */
.boss-examples_example-row > .boss-examples_example-container:last-child > .boss-examples_example {
  margin-top: 3.05em;
}

/* line 23, ../../scss/examples.scss */
.boss-examples_example-container {
  width: 46.5%;
  display: inline-block;
}

/* line 28, ../../scss/examples.scss */
.boss-examples_example {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  overflow: hidden;
}

/* line 33, ../../scss/examples.scss */
.boss-examples_example-header-title {
  font-size: 250%;
  color: #f1f1f1;
  margin-top: 1rem;
}

/* line 39, ../../scss/examples.scss */
.boss-examples_example-title {
  color: #f1f1f1;
  font-size: 150%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
/* line 44, ../../scss/examples.scss */
.boss-examples_example-title:before {
  content: '> ';
}

/* line 49, ../../scss/examples.scss */
.boss-examples_render-example {
  height: 23.2em;
}

/* line 53, ../../scss/examples.scss */
.boss-examples_render-event-example {
  height: 27.9em;
}

/* line 57, ../../scss/examples.scss */
.boss-examples_render-container-example {
  height: 26.7em;
}

/* line 61, ../../scss/examples.scss */
.boss-examples_codepen-example {
  margin-top: 2rem;
}

/* line 4, ../../scss/docs.scss */
.boss-docs {
  width: 80%;
  margin: 2em auto;
  color: #f1f1f1;
}

/* line 10, ../../scss/docs.scss */
.boss-docs_item-heading {
  font-size: 200%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* line 16, ../../scss/docs.scss */
.boss-docs_item-summary {
  width: 60%;
  font-size: 110%;
  padding-bottom: 2rem;
}

/* line 22, ../../scss/docs.scss */
.boss-docs_item-example {
  padding-bottom: 2rem;
  width: 60%;
}
